
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 31, 2017, 1:52:51 PM
    Author     : Dev
*/

html, body {
    /* don't want gap between title/footer and edge of browser window */
    margin:0; 
    padding:0; 
}
body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #A6DBFF;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background-color: transparent;
    background-image: linear-gradient(90deg, rgb(15, 184, 173) 0%, rgb(31, 200, 219) 51%, rgb(44, 181, 232) 75%);
}
#container{
    position: relative;
    z-index: 1;
    margin-bottom: 10%;
}

#titleNav {
    color:white;
    font-family: serif;
    background-color:black;
    height: 85px;
    min-width:600px;
    width: 100%;
    position: fixed;
    left:0px;
    top:0px;
    min-width: 750px;
}
#title {
    padding-top:10px;
    padding-left:10px;
    font-size:45px;
    font-weight:bold;
    letter-spacing: 1.5px;
    text-align:left;
   
    min-width: 100px;
}
#nav {
 
    padding-right: 20px;
    padding-left: 65px;
    padding-top: -30px;
    margin-top:-30px;
    font-size:22px;
    letter-spacing: 1px;
    font-weight:bold;
    margin-left: 34%;;
    text-align:right;
    z-index: 2;
    min-width: 720px
    
    
    
}
.stopFloat {
    clear:both;
}
#content {
    padding:10px;
    padding-top: 100px;
}
#footer {
    position:fixed;
    background-color:black;
    color:white;  
    text-align:center;
    padding:5px;	
    width:100%;
    z-index: 2; 
    bottom:0px;    
    left:0px;
    opacity: 0.8;
    margin-top: 20px;
}
.navLink:hover{
    color: yellow;
    text-decoration: none;
}
.navLink{
    color: white;
    text-decoration: none;
}
#paraLink:visited, #paraLink{
    text-decoration: none;
    color: firebrick;
}
#paraLink:hover{
    color:whitesmoke;
}
.labLinks:visited, .labLinks{
    text-decoration: none;
    color: firebrick;
}